@charset "utf-8";

*{margin: 0; padding: 0; box-sizing: border-box;}
ul{margin: 0 auto;}
li{list-style: none;}
a{text-decoration: none; color: inherit;}
img{max-width: 100%; vertical-align: top;}
table{width: 100%; border-collapse: collapse;}
button{cursor: pointer;}
body{ width: 100%; min-height: 100vh; color: #333;  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
.wrap{position: relative; overflow-x: "hidden";}
.inner{ width: 100%; margin: auto; 
background: #F0F0F0;}
header>h1{
  position: relative;;
  text-align: center; 
  width: 200px;
  height: 70px;
  position: absolute;
  }
.logo{
  width: 200px;
  height: 70px;
}
.logo>img{
  line-height: 70px;
  padding-top: 18px;
  text-align: center;
}

header{
 position: relative;
 display: flex;
 left: 0;
 height: 70px; 
 padding-top: 0px; 
 background:none; 
 z-index: 5555;
 }

nav{
  top: 0px;
  margin: auto 0;
  padding-left: 200px;
  font-family: "Nanum Gothic", serif;
  letter-spacing: 2px;
  font-style: normal;
  font-size: 14px;
  }
nav>ul{
  display: flex;
  /* background-color: #fff; */
}

nav>ul>li{}

nav>ul>li>a{
  display: block; 
  width: 225px;
  height: 70px;
  text-align: center;
  padding-top: 25px; 
  /* background: #fff; */
  font-weight: bold; 
  color: #fff; 
  border: none; 
  border-left: 0;

}

nav>ul>li:first-child{padding-left: 0;}
nav>ul>li:hover>a,nav>ul>li>a:focus,
nav>ul>li.on>a{
  background: #fff;
  color:#194E92;


}

.sub{
  background: #ffff;
  position: relative;
  z-index: 50;
  height: 500px; 

}
.sub li a{
  margin-top: 5px;
  display: block; 
  padding: 5px; 
  text-align: center; 
  font-size: 13px;
  line-height: 20px;
  color: #121212;}

.sub li a:hover,
.sub li a:focus{
  background: #194E92; 
  color: #fff;
}
header:hover{
}
.menuBg{
  width: 100%; 
  background: #ffffff; 
  height: 550px;
  position:absolute; 
  top:70px; left: 0;
  z-index: 0; 
}
.main{
  position: relative;
  display: flex;
  top: -70px;
  width: 100%;
  height: 750px;
  background: url(img/main1.png) no-repeat  fixed;
  background-size : cover;
  background-position: center;
  /* background: url(../img/main1.png); */

}
.main_sub{
  width: 50%;
}

.main_sub2{
  width: 50%;

}


.txt{
  margin: 0 auto;
  text-align: center;
  padding-top: 300px;
}
.txt>h2{
  color: white;
  font-size: 30px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 3px;
  text-shadow: 0px 4px 4px rgba(0,0,0,.25);

}
.txt>.p{
  color: #Ffff;
  padding-bottom: 280px;
  font-family: "Nanum Gothic", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;

}
.main_sub2>.txt>.p{
  color: #Ffff;
  padding-bottom: 280px;
  font-family: "Nanum Gothic", serif;
  font-style: normal;
}
.main_sub .button{
  text-align: right;
  margin-right: 50px;
}
.main_sub2 .button{
  text-align: right;
  margin-right: 50px;
}

.button>button{

  font-size: 14px;
  width: 100px;
  height: 40px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 30px;
  background: none;

}
button:hover{
  background: rgba(255, 255, 255, .5);
  color: #fff;
  border: 1px solid #fff;
}
.about{
  width: 100%;
  height: 1320px;
  margin-bottom: 130px;
  text-align: center;
  background: #F0F0F0;
}
.about >img{
  width: 112px;
}
.about1>h2{
  color: #194E92;
  padding-top: 20px;
  line-height: 40px;
  text-align: left;
  font-size: 24px;
  margin-left: 50px;
  font-family: "Gowun Dodum", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.about1{
  margin: auto 0;
  width: 1200px;
  height: 100%;
  background: #fff;
  margin: auto;
  position: relative;
  box-shadow : 0px 4px 15px 0px rgba(0,0,0,.25);
}
.cotain_1{
  width: 1200px;
  height: 700px;
  /* background: #ABF0F6; */
  display: flex;
  position: relative;
}
.contain_1_sub{
  display: flex;
  height: 700px;
  /* background: #FF6F6F; */
  
}
.sub_left{
  margin-left: 30px;
  width: 440px;
  height: 325px;
  background: url(img/img_m1.jpg) no-repeat;
  background-size: cover;
  border: 20px solid #ffff;
}
.sub_right{
  width: 285px;
  height: 285px;
  background: #ffff;
  border: 1px solid #194E92;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
}
.sub_right p{
  font-family: "Gowun Dodum", sans-serif;
  font-weight: 500;
  color: #194E92;
  text-align: right;
  padding-top: 10px;
  padding-right: 20px;
  font-size: 20px;
}
.sub_right span{
  font-size: 48px;
  font-weight: bold;
  color: #003271;
  text-align: right;
  font-family: "Gowun Dodum", sans-serif;
  font-weight: 800;
  font-style: normal;
}
p.text{
  padding-top: 60px;
  padding-left: 20px;
  font-size: 20px;
  text-align: left;
  line-height: 45px;
}
.sub_bottom{
  top:310px;
  position: absolute;
  width: 745px;
  height: 390px;
  margin-left: 29.5px;
  border: 20px solid #fff;
  background: url(img/img_m10.jpg) center no-repeat;
  display: flex;
}

.b_text{
  padding-left: 20px;
  padding-top: 250px;
  text-align: left;
  line-height: 30px;
  color: #fff;
  font-size: 15px;
  font-family: "Gowun Dodum", sans-serif;
  font-weight: 500;
}

.sub_bottom>button{
  margin-top: 310px;
  margin-left: 30px;
  border: solid 1px #fff;
  background: none;
  color: #fff;
  border-radius: 25px;
  width: 80px;
  height: 30px;
  font-size: 12px;
  font-style: normal;
  font-family: "Gowun Dodum", sans-serif;

}

.sub_bottom>button:hover{

  background: rgba(255, 255, 255, .5);
  color: #fff;
  border: 1px solid #fff;
}
.contain_2_sub{
  width: 415px;
  height: 700px;
  background: url(img/Rectangle3.png) center no-repeat;
  border: 20px solid #ffff;
}

.cotain_2{
  width: 1300px;
  height: 500px;
  margin-left: 50px;
  /* background: #6EC7D0; */
  display: flex;
  
}

.left{
  width: 480px;
  background: url(img/image3.png) center no-repeat;
}
.right{
  width: 600px;
  margin-left: 20px;
  border: 1px solid #194E92;

}
.ment{
  padding-top: 200px;
  line-height: 40px;
  font-size: 20px;
  color: #194E92;
  font-family: "Gowun Dodum", sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
}
.ment2{
  color: #8D8D8D;
  font-family: "Gowun Dodum", sans-serif;
  font-size: 16px;
  line-height: 40px;
}

.csr{
  width: 100%;
  height: 1550px;
  text-align: center;
  background: #ffff;
  margin: 0 auto;
  position: relative;

}
.img>img{
  margin-top: 200px;
  width: 112px;

}

.csr_top{
  margin-top: 100px;

}
.csr_bottom{
  width: 100%;
  margin-top: 0px;
}

.frame35{
  text-align: left;
}
.frame37{
  width: 100%;
}
.frame37>img{
  margin-top: 80px;
  align-items: end;
}


.csr_top>p{
  margin-top: -50px;
  font-size: 24px;
  line-height: 40px;
  font-weight: bold;
  color: #EF537A;
  font-family: "Gowun Dodum", sans-serif;
  font-weight: 800;
}
.csr_bottom>p{
  font-size: 24px;
  line-height: 40px;
  font-weight: bold;
  color: #543499;
  font-family: "Gowun Dodum", sans-serif;
  font-weight: 800;
}
.frame37p{
  margin-top: -30px;
}

/* 브랜드 */
.brand{
  height: 600px;
  text-align: center;
  position: relative;

}
.brand_>img{
  width: 140px;
}
.brand_{
  position: absolute;
  width: 100%;
  z-index: 55;
  top: -40px;

}

.brand_c{
  width: 100%;
  height: 340px;
  background: #E0EEFF;
  box-shadow : 0px 0px 21.6px 5px rgba(0,0,0,.25);

}
.category{
  width: 1210px;
  display: flex;
  text-align: center;
  padding-top: 10px;
}
.category>li>a>button{
  display: inline-block;
  text-align: center;
}
.category>li>a>button:hover,.category>li>a>button.on
,.category>li>a>button:focus{
  background: #194E92;
  color: #fff;
}

.category>li>a>button{
  border-radius: 30px;
  margin-top: 30px;
  margin-right: 12px;
  border: 1px solid #194E92;
  color: #194E92;
  width: 75px;
  height: 40px;
  font-size: 12px;
  background: none;
  letter-spacing: 1px;
}
.category>li:last-child>a>button{
  margin-right: 0;
}

.con{
  margin-top: 50px;
  width: 100%;
  height: 250px;
  margin: 0 auto;

}
.con>li{
  width: 1450px;
  margin: 0 auto;
}

.con>li>div{
  margin: 0 auto;
}
.con>li>div>a>img{
  margin-top: 60px;
  margin-right: 20px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  width: 160px;

}


.con>li>div>a:last-child>img{
  margin-right: 0px;
}
.con>li>div>a>img:hover,.con>li>div>a{
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}
.bal,.cheese,.juice ,.coffee,.grain,.baby_food,
.health_food, .conven, .snack,.dessert,.base,.import,.export{
  display: none;
}

footer{
  width: 100%;
  height: 1030px;
  background-image: url(img/footer.png);
  background-repeat: no-repeat;
  background-size : cover;
  padding-top: 650px;
  font-family: "Gowun Dodum", sans-serif;
  font-style: normal;
  letter-spacing: 1px;
  font-weight: 400px;

}
.footer_top{
  width: 1400px;
  height: 150px;
  margin: 0 auto;
  display: flex;
}
.contack{
  width: 400px;
  height: 100%;
  color: #ffff;
  font-size: 14px;
  padding-right: 50px;
}
.feat{
  color:#fff;
  width: 550px;
  height: 100%;
}
.feat_{
  display: flex;
}
.feat_>img{
  width: 100px;
  height: 100px;
  background: #fff;
  margin-top: 10px;
  margin-right: 10px;
}
.mic{
  margin-top: 10px;
}
.sns{
  color:#fff;
  width: 500px;
  height: 100%;
  padding-left:50px ;
}
.footer_bottom{
  padding-top: 30px;
  color:#fff;
  width: 1400px;
  height: 200px;
  margin: 0 auto;
  display: flex;
}

.footer_bottom .fmenu{
  color:#fff;
  display: flex; 
  gap: 10px;
  padding-top: 10px;
}

.footer_bottom .fmenu li{
  color:#fff;
  border-right: 1px solid #fff; 
  padding-right: 10px; 
  font-size: 14px;}

.footer_bottom .fmenu li:last-child{
  border-right: none;}
.copy{
  padding-top: 10px;
  line-height: 30px;
}
.footer_bottom > div{
  width: 1200px;
}
.footer_bottom select{
  width: 150px;
  height: 50px;
  border-radius: 30px;
  background: none;
  border: 1px solid #fff;
  color: #fff;
  margin-top: 10px;
  text-align: center;
  font-size: 17px;
  font-family: "Gowun Dodum", sans-serif;

}
